.car-card {
  width: 300px;
  height: 347px;

  display: flex;
  flex-direction: column;
  align-items: center;  

  font-size: 18px;
  text-align: center;

  margin: 0px 5px 10px 0px;

  border-radius: 10px;
  background: #EDEDED;
}



.card-content-container {
  margin: 0px;
  padding: 5px 2px 5px 5px;
}

.card-image-container {
  margin: 0px;
}

.card-image-container img {
    width: 220px;
    height: 165px;
}

.card-content-container h6 {
  padding: 0px;
  margin-bottom: 10px;
}

.card-content-container p {
  width: 255px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.card-btn-container {
  align-items: center;
  width: 258px;
}

.card-btn-container button {
  width: 228px;
  height: 40px;
  margin: 0px;
  padding: 5px;
}


@media (min-width: 576px) {

  .car-card {
    width: 258px;
    height: 347px;
    
    font-size: 18px;
    text-align: center;
    margin: 0px 5px 20px 0px;
  
    border-radius: 10px;
    background: #EDEDED;
  }
  
}

  @media (min-width: 768px) {

    .car-card {
      width: 349px;
      height: 347px;
      margin: 0px 0px 20px 0px;
    }

  }

  @media (min-width: 992px) {

    .car-card {
      width: 296px;
      height: 347px;

      margin: 0px 10px 20px 5px;
    }
  }


  @media (min-width: 1200px) {

    .car-card {
      width: 306px;
      height: 347px;
      margin: 10px 0px 10px 0px;
    }

    .card-btn-container button {
      width: 266px;
    }

  }




